/* src/components/other/Loader/index.css */

.loader-container-fullscreen ***REMOVED***
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
***REMOVED***

.loader-container-normal ***REMOVED***
  display: flex;    
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 200px;
***REMOVED***

/* Ajustes para móvil */
@media (max-width: 767px) ***REMOVED***
  .loader-container-fullscreen ***REMOVED***
    transform: translateY(-50px);
  ***REMOVED***
  
  .loader-container-normal ***REMOVED***
    min-height: calc(100vh - 180px);
    padding-bottom: 120px;
  ***REMOVED***
***REMOVED***

/* Para tablets y desktop */
@media (min-width: 768px) ***REMOVED***
  .loader-container-fullscreen ***REMOVED***
    transform: translateY(0);
  ***REMOVED***
  
  .loader-container-normal ***REMOVED***
    min-height: 200px;
    padding-bottom: 60px;
  ***REMOVED***
***REMOVED***