<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314406109434-cp7cculsf1mh0mnj46rt6fi5t1bhac3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314406109434-cp7cculsf1mh0mnj46rt6fi5t1bhac3s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314406109434-md83spd5m3uq1ehme9pqnk047hg8e6pt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATKg4OvKYZHtuq4nTBciyF9UGfKViX8x0</string>
	<key>GCM_SENDER_ID</key>
	<string>314406109434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.orary</string>
	<key>PROJECT_ID</key>
	<string>gestionturnos-7ec99</string>
	<key>STORAGE_BUCKET</key>
	<string>gestionturnos-7ec99.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314406109434:ios:251f50e876ddc79e5c0943</string>
</dict>
</plist>